
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="OpenModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="usersTable" class="display cell-border" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">
                <input id="txtId" type="hidden" value="0"/>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtName">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtSurname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtSurname">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtEmail" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtEmail">
                    </div>
                    <div class="col-sm-6">
                        <label for="cbxActive" class="form-label">Activo</label>
                        <select class="form-select" id="cbxActive">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let selectedRow;

        $(document).ready(function () {
            PopulateTable();
        });

        //Function to call all users and populate Users table
        function PopulateTable() {
            $("#usersTable").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("GetUsers", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {
                        "data": "U_name"
                    },
                    {
                        "data": "U_surname"
                    },
                    {
                        "data": "Email"
                    },
                    {
                        "data": "Active", "render": function (value) {
                            if (value) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
            });
        }

        //Function to open the Create/Edit Modal
        function OpenModal(json) {
            if (json != null) {
                $("#txtId").val(json.UserId);
                $("#txtName").val(json.U_name);
                $("#txtSurname").val(json.U_surname);
                $("#txtEmail").val(json.Email);
                $("#cbxActive").val(json.Active == true ? 1 : 0);
            } else {
                $("#txtId").val(0);
                $("#txtName").val("");
                $("#txtSurname").val("");
                $("#txtEmail").val("");
                $("#cbxActive").val(1);
            }

            $("#FormModal").modal("show");
        }

        //Funcion called by onclick event to edit user
        $("#usersTable tbody").on("click", '.btn-edit', function () {
            selectedRow = $(this).closest("tr");
            let data = $("#usersTable").DataTable().row(selectedRow).data();
            OpenModal(data);
        });

        //Function to send data to DB and Update the View's table
        function Save() {
            var User = {
                UserId: $("#txtId").val(),
                U_name: $("#txtName").val(),
                U_surname: $("#txtSurname").val(),
                Email: $("#txtEmail").val(),
                Active: $("#cbxActive").val() == 1 ? true : false
            }

            if (User.UserId == 0) {
                $("#usersTable").DataTable().row.add(User).draw(false);
            } else {
                $("#usersTable").DataTable().row(selectedRow).data(User).draw(false);
            }

            $("#FormModal").modal("hide");
        }
    </script>
}