
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="OpenModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="usersTable" class="display cell-border" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtId" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtName" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtSurname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtSurname" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtEmail" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtEmail" autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="cbxActive" class="form-label">Activo</label>
                        <select class="form-select" id="cbxActive">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <!--Alert Message-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="errorMessage" class="alert alert-danger" role="alert">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let selectedRow;

        $(document).ready(function () {
            PopulateTable();
        });

        //Function to call all users and populate Users table
        function PopulateTable() {
            $("#usersTable").DataTable({
                responsive: true,
                ordering: false,
                "ajax": {
                    url: '@Url.Action("GetUsers", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {
                        "data": "U_name"
                    },
                    {
                        "data": "U_surname"
                    },
                    {
                        "data": "Email"
                    },
                    {
                        "data": "Active", "render": function (value) {
                            if (value) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-delete"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
                "language": {
                    "url": 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
                },
            });
        }

        //Function to open the Create/Edit Modal
        function OpenModal(json) {
            if (json != null) {
                $("#txtId").val(json.UserId);
                $("#txtName").val(json.U_name);
                $("#txtSurname").val(json.U_surname);
                $("#txtEmail").val(json.Email);
                $("#cbxActive").val(json.Active == true ? 1 : 0);
            } else {
                $("#txtId").val(0);
                $("#txtName").val("");
                $("#txtSurname").val("");
                $("#txtEmail").val("");
                $("#cbxActive").val(1);
            }

            $("#errorMessage").hide();

            $("#FormModal").modal("show");
        }

        //Funcion called by onclick event to edit user
        $("#usersTable tbody").on("click", '.btn-edit', function () {
            selectedRow = $(this).closest("tr");
            let data = $("#usersTable").DataTable().row(selectedRow).data();
            OpenModal(data);
        });

        //Funcion called by onclick event to delete user
        $("#usersTable tbody").on("click", '.btn-delete', function () {
            let selectedUser = $(this).closest("tr");
            let data = $("#usersTable").DataTable().row(selectedUser).data();

            swal({
                title: "Está Seguro?",
                text: "¿Desea eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("DeleteUser", "Home")',
                        type: "POST",
                        data: JSON.stringify({ userId: data.UserId }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            $(".main-body").LoadingOverlay("hide");
                            if (data.result) {
                                $("#usersTable").DataTable().row(selectedUser).remove().draw();
                            } else {
                                swal("No se puede eliminar", data.message, "error");
                            }
                        },
                        error: function (error) {
                            $(".main-body").LoadingOverlay("hide");
                            swal("No se pudo eliminar", "Request Error!", "error");
                        },
                        beforeSend: function () {
                            $(".main-body").LoadingOverlay("show", {
                                imageResizeFactor: 2,
                                text: "Cargando...",
                                size: 14,
                                image: "",
                                fontawesome: "fa fa-cog fa-spin"
                            });
                        }
                    });
                }
            );
        });

        //Function to send data to DB and Update the View's table
        function Save() {
            var User = {
                UserId: $("#txtId").val(),
                U_name: $("#txtName").val(),
                U_surname: $("#txtSurname").val(),
                Email: $("#txtEmail").val(),
                Active: $("#cbxActive").val() == 1 ? true : false
            }

            jQuery.ajax({
                url: '@Url.Action("SaveUser", "Home")',
                type: "POST",
                data: JSON.stringify({ obj : User }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-dialog").LoadingOverlay("hide");

                    //New User
                    if (User.UserId == 0) {
                        if (data.result != 0) {
                            $("#errorMessage").hide();

                            User.UserId = data.result;
                            $("#usersTable").DataTable().row.add(User).draw(false);

                            $("#FormModal").modal("hide");
                        } else {
                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    //Edit User
                    } else {
                        if (data.result == true) {
                            $("#errorMessage").hide();

                            $("#usersTable").DataTable().row(selectedRow).data(User).draw(false);

                            selectedRow = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#errorMessage").text(data.message);
                            $("#errorMessage").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-dialog").LoadingOverlay("hide");

                    $("#errorMessage").text("Request Error!");
                    $("#errorMessage").show();
                },
                beforeSend: function () {
                    $(".modal-dialog").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14,
                        image: "",
                        fontawesome: "fa fa-cog fa-spin"
                    });
                }
            });
        }
    </script>
}